<div class="container">
  <h3 class="heading">Add new ingredient dose</h3>
  <%= simple_form_for [@cocktail, @dose] do |f| %>
    <%= f.association :ingredient, input_html: { class: "beautiful-dropdown" }, include_hidden: false %>
    <%= f.input :description %>
    <%= f.button :submit, class: "cocktail-btn" %>
  <% end %>

  <div class="button-div">
    <%= link_to "Back", cocktail_path(@cocktail), class: "ghost-btn" %>
  </div>
</div>
